.page-top{
    background-color:#1f2937;
}

.hero-main{
    font-size: 48px;
    font-weight: extra bold;
    color: #f9faf8;
    font-family: sans-serif;
}

.header-links{
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb;
    font-family: sans-serif;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-right: 60px;
    margin-left: 0px;
    margin-bottom: 100px;
}

.header-logo{
    display: inline;
    float: left;
    margin-left: 100px;
    height: 100px;
    width: auto;
}

.hero{
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 100px;
}

.hero-secondary{
    font-size: 18px;
    color: #e5e7eb;
}


.header-logo{
    font-size: 24px;
    color: #f9faf8;
    font-family: sans-serif;
}

.header{
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up{
    color: #f9faf8;
}

.placeholder{
    color: #e5e7eb;
    float: right;
    margin-right: 100px;
}

.beamsaber{
    height: 295px;
    width: auto;
}

button{
    background-color: #3882f6;
    font-family: plavsky;
    font-size: 18px;
    border-radius: 5px;
    border-style: solid;
    border-color: #3882f6;
}

.timelines-header{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.UC-image{
    height: 150px;
    width: auto;
}

.ac-image{
    height: 150px;
    width: auto;
}

.ad-image{
    height: 150px;
    width: auto;
}

.stella-image{
    height: 150px;
    width: auto;
}

.timelines{
    height: 300px;
    display: flex;
    margin: 20px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.timelines-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
}

.timeline-UC{
    display: inline-block;
    text-align: center;
}

.timeline-ac{
    display: inline-block;
    text-align: center;
}

.timeline-ad{
    display:inline-block;
    text-align: center;
}

.timeline-stella{
    display: inline-block;
    text-align: center;
}

.quote-section{
    height: 250px;
    background: #e5e7eb;
    font-family: sans-serif;
    text-align: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.rau{
    text-align: right;
    margin-right: 100px;
    font-weight: bolder;
    font-size: 25px;
    font-style: normal;
}

.calltoaction{
    height: 275px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue{
    background-color: #3882f6;
    height: 140px;
    width: 10000px;
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
}

.call{
    font-family: sans-serif;
    font-size: 30px;
    color: #f9faf8;
    margin-left: 70px;
    display: inline-block;
}

.action{
    font-family: sans-serif;
    font-size: 15px;
    color: #e5e7eb;
    margin-left: 70px;
    margin-top: -20px;
}

.signup{
    float: right;
    margin-top: -55px;
    margin-right: 180px;
    color: #f9faf8;
    border: 2px solid #e5e7eb;
    font-family: sans-serif;
}

.copyright{
    height: 100px;
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}