.page-top{
    background-color:#1f2937;
}

.hero-main{
    font-size: 48px;
    font-weight: extra bold;
    color: #f9faf8;
    font-family: sans-serif;
}

.header-links{
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb;
    font-family: sans-serif;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-right: 60px;
    margin-left: 0px;
    margin-bottom: 100px;
}

.header-logo{
    display: inline;
    float: left;
    margin-left: 100px;
    height: 100px;
    width: auto;
}

.hero{
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 100px;
}

.hero-secondary{
    font-size: 18px;
    color: #e5e7eb;
}


.header-logo{
    font-size: 24px;
    color: #f9faf8;
    font-family: sans-serif;
}

.header{
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up{
    color: #f9faf8;
}

.placeholder{
    color: #e5e7eb;
    float: right;
    margin-right: 100px;
}

.beamsaber{
    height: 295px;
    width: auto;
}

button{
    background-color: #3882f6;
    font-family: plavsky;
    font-size: 18px;
    border-radius: 5px;
    border-style: solid;
    border-color: #3882f6;
}

.timelines-header{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.UC-image{
    height: 150px;
    width: auto;
}

.ac-image{
    height: 150px;
    width: auto;
}

.ad-image{
    height: 150px;
    width: auto;
}

.stella-image{
    height: 150px;
    width: auto;
}

.timelines{
    display: flex;
    margin: 80px;
    gap: 50px;
    justify-content: center;
    font-family: sans-serif;
}

.timeline-UC{
    display: inline-block;
    text-align: center;
}

.timeline-ac{
    display: inline-block;
    text-align: center;
}

.timeline-ad{
    display:inline-block;
    text-align: center;
}

.timeline-stella{
    display: inline-block;
    text-align: center;
}